################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TeamB/v14
/**/bin/**
/**/obj/**
/Repository/bin/Debug
/Repository/obj/Debug
/TeamB/bin
/TeamB/obj/Debug
/TeamB.Tests/bin/Debug
/TeamB.Tests/obj/Debug
/ui/node_modules
